.header__lang-link {
  margin-left: 18px;
  text-decoration: none;
  color: white;
  opacity: 1;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  -moz-transition: opacity 1s;
}
/* Вот тут правильно */
@media screen and (min-width: 768px) {
  .header__lang-link {
    font-size: 24px;
    line-height: 28px;
  }
}
@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
.footer__link:hover {
  /*color: red;*/
  opacity: 0.8;
}
