.header__lang-link {
  font-size: 24px;
  line-height: 28px;
  margin-left: 18px;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1024px) {
  .header__lang-link {

  }
}
@media screen and (max-width: 768px) {
  .header__lang-link {

  }
}
@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
