.page {
  background: #2A2C2F;
  color: white;
  font-family: Inter, Arial, sans-serif;
  min-width: 320px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1024px) {
  .page {
    max-width: 1024px;
  }
}
@media screen and (max-width: 768px) {
  .page {
    max-width: 768px;
  }
}
@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
  }
}
/*
Стили этого запроса (max-width) будут применяться только для экранных устройств с шириной области
просмотра не более 320px.*/
/*
p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}
*/
