.header {
  display: flex;
  width: calc(1184px/1280px);
  min-width: 288px;
  height: 52px;
  margin: 28px 48px 0;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .header {
    width: calc(928px/1024px);
  }
}
@media screen and (max-width: 768px) {
  .header {
    width: calc(720px/768px);
    margin: 28px 24px 0;
  }
}
@media screen and (max-width: 320px) {
  .header {
    width: calc(288px/320px);
    margin: 16px 16px 0;
    height: 42px;
  }
}
/*
@media screen and (max-width: 1024px) {
  .header {

  }
}
@media screen and (max-width: 768px) {
  .header {

  }
}
@media screen and (max-width: 320px) {
  .header {

  }
}
*/
