.header {
  display: flex;
  min-width: 288px;
  max-width: 1184px;
  width: calc(100% - 32px);
  margin: 16px auto 0;
  /*min-height: 52px;*/
  justify-content: space-between;
}
/*
@media screen and (min-width: 768px) {
@media screen and (min-width: 1024px) {
*/
/* max-width CSS код применяется только если ширина viewport меньше или равна 1024*/
@media screen and (min-width: 768px) {
  .header {
    width: calc(100% - 48px);
    /*height: 52px;*/
    margin-top: 28px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    width: calc(100% - 96px);
  }
}
