.header {
  display: flex;
  width: 92%;
  min-width: 288px;
  height: 52px;
  margin: 28px 48px 0;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .header {
    width: 93%;
    margin: 28px 24px 0;
  }
}
@media screen and (max-width: 320px) {
  .header {
    width: 90%;
    margin: 16px 16px 0;
    height: 42px;
  }
}
