.place-row-right {
  margin-left: 40px;
}

@media screen and (max-width: 1024px) {
  .place-row-right {
    margin-left: 32px;
  }
}
@media screen and (max-width: 768px) {
  .place-row-right {
    margin-left: 28px;
  }
}
@media screen and (max-width: 530px) {
  .place-row-right {
    margin-top: 32px;
    margin-left: 0px;
  }
}
/*
@media screen and (max-width: 320px) {
  .place-row-tree {
    margin-left: 0px;
  }
}
*/
