.place-row-top {
  display: flex;
}

@media screen and (max-width: 1024px) {
  .place-row-top {

  }
}
@media screen and (max-width: 768px) {
  .place-row-top {

  }
}
@media screen and (max-width: 530px) {
  .place-row-top {
    flex-direction: column;
  }
}
/*
@media screen and (max-width: 320px) {
  .place-row-one {
    flex-direction: column;
  }
}
*/
