.place__paragraphs {
  margin: 32px 16px 0;
  font-size: 16px;
  line-height: 163%;
  grid-area: place__paragraphs;
}

@media screen and (min-width: 768px) {
  .place__paragraphs {
    margin: 0;
    font-size: 16px;
    line-height: 163%;
    margin-top: 48px;
    /*min-width: 352px;*/
  }
}
@media screen and (min-width: 1024px) {
  .place__paragraphs {
    /*min-width: 456px;*/
  }
}
@media screen and (min-width: 1280px) {
  .place__paragraphs {
    /*min-width: 484px;*/
  }
}
