.footer__link {
  color: white;
  text-decoration: none;
  opacity: 1;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  -moz-transition: opacity 1s;
}
.footer__link:hover {
  /*color: red;*/
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 16px;
    line-height: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .footer__link {
  }
}
@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}
