.footer__link {
  color: white;
  text-decoration: none;
  margin-right: 18px;
  opacity: 1;
  transition: opacity 3.3s;
  -webkit-transition: opacity 3.3s;
  -o-transition: opacity 3.3s;
  -moz-transition: opacity 3.3s;
}
@media screen and (max-width: 400px) {
  .footer__links {
    margin-right: 0px;
  }
}
@media screen and (max-width: 320px) {
  .footer__link {
    margin-left: 16px;
    margin-top: 32px;
  }
}
@media (min-width: 0) and (max-width: 400px) {
  .footer__link {
    margin-top: 32px;
  }
}
.footer__link:hover {
  /*color: red;*/
  opacity: 0.8;
}
