.footer__links {
  display: flex;
  font-size: 16px;
  line-height: 18px;
}
@media (min-width: 0) and (max-width: 400px) {
  .footer__links {
    flex-direction: column;
    margin-top: 32px;
    margin-bottom: 48px;
    margin-left: 16px;
    font-size: 24px;
    line-height: 24px;
  }
}
