.footer__copyright {
  margin-left: 16px;
  font-size: 14px;
  line-height: 14px;
  margin-top: 48px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    margin-bottom: 0;
    line-height: 16px;
    margin-top: 90px;
    margin-right: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .footer__copyright {
    margin-right: 48px;
    margin-top: 94px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright {
    margin-right: 48px;;
    margin-top: 94px;
  }
}




/*
@media screen and (min-width: 768px) {
  .footer__copyright {
    margin-bottom: 0;
    margin-left: 69px;
    line-height: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .footer__copyright {
    margin-left: 277px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyright {
    margin-left: 400px;
    margin-top: 90px;
  }
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    margin-left: 16px;
    font-size: 14px;
    line-height: 14px;
    margin-top: 48px;
    margin-bottom: 24px;
  }
}
*/
