.cover {
  margin: 92px 48px 0;
}
@media screen and (max-width: 1024px) {
  .cover {
    margin: 92px 0 0;
  }
}
@media screen and (max-width: 768px) {
  .cover {
    margin-top: 90px;
  }
}
@media screen and (max-width: 320px) {
  .cover {
    margin-top: 66px;
  }
}
