.cover {
  display: flex;
  margin: 66px 0 0;
  position: relative;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

@media screen and (min-width: 1280px) {
  .cover {
    min-height: 640px;
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 1024px) {
  .cover {
    margin-top: 66px;
    min-height: 200px;
  }
}
