.place__link {
  font-size: 18px;
  line-height: 22px;
  margin-left: 16px;
  margin-top: 12px;
  color: white;
  grid-area: place__link;
  opacity: 1;
  transition: opacity 3.3s;
  -webkit-transition: opacity 3.3s;
  -o-transition: opacity 3.3s;
  -moz-transition: opacity 3.3s;
}

@media screen and (min-width: 768px) {
  .place__link {
    margin-left: 0;
    align-self: end;
  }
}

.place__link:hover {
  opacity: 0.8;
}
