.cover__background {
  display: flex;
  text-decoration: none;
  color: white;
  background: url("../../../images/cover-trains.jpg") 100% 100% no-repeat;
  background-size: cover;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
@media screen and (min-width: 1280px) {
  .cover__background {
    /*min-width: 1184px;*/
  }
}
@media screen and (min-width: 1025px) {
  .cover__background {
    min-height: 740px;
    /*min-width: 1024px;*/
  }
}
@media screen and (max-width: 1024px) {
  .cover__background {
    min-height: 640px;
  }
}
@media screen and (max-width: 768px) {
  .cover__background {
    min-height: 480px;
  }
}
@media screen and (max-width: 320px) {
  .cover__background {
    min-height: 200px;
  }
}
