.cover__background {
  display: flex;
  text-decoration: none;
  color: white;
  background: url("../../../images/cover-trains.jpg") 100% 100% no-repeat;
  background-size: cover;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  min-height: 200px;
}
@media screen and (min-width: 350px) {
  .cover__background {
    min-height: 250px;
  }
}
@media screen and (min-width: 400px) {
  .cover__background {
    min-height: 300px;
  }
}
@media screen and (min-width: 580px) {
  .cover__background {
    min-height: 350px;
  }
}
@media screen and (min-width: 768px) {
  .cover__background {
    min-height: 480px;
  }
}
@media screen and (min-width: 1024px) {
  .cover__background {
    min-height: 640px;
  }
}
@media screen and (min-width: 1280px) {
  .cover__background {
    min-height: 740px;
  }
}
