.footer__list {

}

@media screen and (min-width: 768px) {
  .footer__list {
    margin-top: 88px;
    margin-left: 6px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .footer__list {
    margin-top: 92px;
    margin-left: 28px;
  }
}
@media screen and (max-width: 767px) {
  .footer__list {
    margin-left: 16px;
    margin-top: 32px;
  }
}
