.place {
  display: grid;
  grid-template-areas:
    "place__title"
    "place__web"
    "place__image"
    "place__paragraphs";
  grid-template-columns: repeat(1, minmax(320px, 767px));
  grid-template-rows: repeat(4, auto);
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .place {
    grid-template-areas:
      "place__title place__web"
      "place__image place__paragraphs";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 28px;
    margin-left: 24px;
    margin-right: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .place {
    margin-left: 48px;
    margin-right: 48px;
    grid-column-gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .place {
    margin-left: 148px;
    margin-right: 148px;
    grid-column-gap: 40px;
  }
}
